body {
    background-color: #000;
    color: #FFF;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body .is_mafia {
    /*background: red !important;*/
    border: 7px solid !important;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.d-none {
    display: none !important;
    }

body.day {
    background-color: #FFF;
    color: #000;
}

.round, 
.role {
    font-size: 25px;
    border-right: 1px solid;
    padding-right: 10px;
    padding-left: 10px;
}


.logged-in-as {
    font-size: 25px;
    margin-right: 10px;
}

body.night .round, 
body.night .role,
body.night .logged-in-as {
    color: white;
}

body.day .round, 
body.day .role,
body.day .logged-in-as {
    color: black; 
}

.first-message {
     text-align: center;
}

body.night .first-message {
    color: white;
}

body.day .first-message {
    color: black !important;
}

a.reset-game {
    background: #CAD704;
    color: black;
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
}

body.night .card {
    border: 2px solid #CAD704;
    color: #CAD704;
}

.second-message.is_over {
    font-size: 50px;
}

.card:not(.is_mafia):not(.is_me):hover {
    cursor: pointer;
}

body.night .card:not(.is_mafia):not(.is_me):hover {
    color: #000000 !important;
    background: #CAD704;
}

body.day .card:not(.is_mafia):not(.is_me):hover {
    color: #FFF !important;
    background: #000;
}

body.day .card {
    border: 2px solid;
}

.progress_messages .message {
    font-size: 17px;
    text-align: center;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 5%;
}

.circle-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.circle-container .player-circle:nth-child(5) {
    grid-column: span 3;
}


.card {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1680px) {  
    .card {
        width: 100px;
        height: 100px;
        font-size: 17px;
    }    
}
    
.circle-container .player-circle:nth-child(2),
.circle-container .player-circle:nth-child(3) {
    position: relative;
    top: -85%;
}

.circle-container .player-circle:nth-child(8),
.circle-container .player-circle:nth-child(9) {
    position: relative;
    top: 85%;
}

.circle-container .player-circle:nth-child(5) {
    position: relative;
    right: 15%;
}

.circle-container .player-circle:nth-child(6) {
    position: relative;
    right: -50%;
}




